@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0px;
}

:root{

    --cor0: #582C4D;
    --cor1: #F7B731;  
    --cor2: #4ECDC4;
    --cor3: #F4F4F4;

    --cor01: #75509d;
    --cor02: #5e509d;
}
body{

    width: 80vw;
    margin: auto;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #510e7849;;
    
    
}

h2{
   
    background-image: linear-gradient(to left, var(--cor0), var(--cor01),var(--cor02) );
     text-align: center;
    
}

.section{

    padding-bottom: 20px;
    padding-top: 20px;
}
header{

    text-align: center;
    background-image:linear-gradient(to top, var(--cor0), var(--cor01),var(--cor02) );
    padding-top:20px;
    padding-bottom: 20px;
    color: var(--cor3);
    margin-bottom: 0px;
    
}
header >img{

    padding: 0px;
    border-radius: 50%;
    box-shadow: 5px 2px 7px rgba(0, 0, 0, 0.663);
}
header > h1{

    padding-top: 0px;
    margin-top: 0px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.526);
    margin-bottom: 0px;
}

header > p{

    font-family: "Dancing Script", cursive;
    font-size: 1.5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.526);
    padding-bottom: 15px;
}

header > div {

    background-color: var(--cor1);
    width: 120px;
    height: 40px;
    margin: auto;
    border-radius: 30px;
    
}

header > div > p{

    text-align: center;
    line-height: 40px;
    color: black;
    
}

header > div:hover{

    background-color: #ffae00;
    box-shadow: 10px 10px 7px #2c1626 ;
    transition-duration: 0.5s;
}

main{

    background-color: var(--cor3);
    padding-top: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.356);
}

#nossa_historia { 

    display: flex;
    gap: 20px;
    align-items: flex-start;
    max-width: 600px;
    min-width: 100px;
    margin: auto;
    
    
    
}


.imagem{

    width: 300px;
    height: 300px;
    background-color: lightgray;
    flex-shrink: 0;
    
}

.bloco-texto{

    flex-grow: 1;

}

.bloco-texto p {

    line-height: 1.3;
    text-indent: 10px;
    text-align: justify;

    
}

#cardapio > p > a{

    text-decoration: none;
    color: black;
    padding: 10px;
    background-color: var(--cor1);
    border-radius: 30px;
    margin: 15px;
   
}

#cardapio > p{

     text-align: center;

     margin-top: 20px;
   
}

#cardapio > p > a:hover{

    background-color: #ff9500;
    box-shadow: 10px 10px 7px #2c1626 ;
    transition-duration: 0.5s;
}

#tela-cardapio{

    margin-top: 20px;
    width: 80vw;
    height: 200px;
}

.tela-cardapio::-webkit-scrollbar {
    width: 50px;

}


#como-pedir div.opcoes {

    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;

}

#como-pedir p{

    font-size: 1.1em;
}

#canal-atendimento {

    display: flex;
    justify-content: center;
    gap: 8px;
    
   

}

#canal-atendimento div{

    display: flex;
    align-items: center;
    gap: 8px;
    
}

#canal-atendimento #app{

    background-color: green;
    padding: 5px;
    border-radius: 12px;
    margin-right: 40px;
}

#canal-atendimento #ifood{

    background-color: red;
    padding: 5px;
    border-radius: 12px;
}

#canal-atendimento img{

    width: 20px;
    height: 20px;
    
}

#canal-atendimento div:hover{

    box-shadow: 10px 10px 7px #2c1626 ;
    transition-duration: 0.5s;
    
}


#localizacao{

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    
}

#localizacao iframe{

    margin-right: 15px;
}

#localizacao img{

    width: 20px;
    height: 20px;
}

#localizacao .endereco-horario{

    display: flex;
}

#localizacao .endereco-horario p{

    line-height: 1.3;
    padding: 5px;

}


